# CONSTRUCCION DE CARTERA FINANCIERA

### Librerías

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Lectura de Bases de Datos

In [5]:
data_route = '../data/'

In [6]:
expenses_filename = 'expenses.csv'
incomes_filename = 'incomes.csv'

In [7]:
expenses = pd.read_csv(data_route+expenses_filename)
incomes = pd.read_csv(data_route+incomes_filename)

In [8]:
incomes

         DATE   AMOUNT  CATEGORY  THIRD-PARTY               DESCRIPTION
0  04-04-2025     5000  variable    zero2gero  Inscripcion curso Python

In [11]:
incomes.columns

Index(['DATE', ' AMOUNT', ' CATEGORY', ' THIRD-PARTY', ' DESCRIPTION'], dtype='object')

In [16]:
print(incomes.columns)

Index(['DATE', ' AMOUNT', ' CATEGORY', ' THIRD-PARTY', ' DESCRIPTION'], dtype='object')

In [17]:
incomes[' AMOUNT']

0    5000
Name:  AMOUNT, dtype: int64

In [18]:
incomes[' AMOUNT'].sum()

np.int64(5000)

In [23]:
incomes.loc[0][' DESCRIPTION']

'Inscripcion curso Python'

In [25]:
n = len(incomes)
n

1

In [26]:
incomes.loc[n] = ['29-04-2025',300,'VARIABLES','zero2hero','Curso intensivo R']

In [27]:
incomes

         DATE   AMOUNT   CATEGORY  THIRD-PARTY               DESCRIPTION
0  04-04-2025     5000   variable    zero2gero  Inscripcion curso Python
1  29-04-2025      300  VARIABLES    zero2hero         Curso intensivo R

### Construcción de la Clase

In [127]:
class FWallet:

    def __init__(self, inputs):
        self.inputs = inputs
        self.incomes = pd.read_csv(self.inputs['data_route']+self.inputs['incomes_filename'])
        self.expenses = pd.read_csv(self.inputs['data_route']+self.inputs['expenses_filename'])

    ### ACTIONS TO PERFORM ###

    # Add income to database
    def add_income(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category: ')
        third_party = input('third_party: ')
        description = input('description: ')

        new_income = [date,amount,category,third_party,description]

        n = len(self.incomes)
        self.incomes.loc[n] = new_income

        self.incomes.to_csv(self.inputs['data_route']+self.inputs['incomes_filename'],index=False)

    # Add expense to database
    def add_expense(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category: ')
        third_party = input('third_party: ')
        description = input('description: ')

        new_expense = [date,amount,category,third_party,description]

        n = len(self.expenses)
        self.expenses.loc[n] = new_expense

        self.expenses.to_csv(self.inputs['data_route']+self.inputs['expenses_filename'],index=False)
        
    # Calculate the total income
    def total_income(self):
        total = self.incomes[' AMOUNT'].sum()
        return total

    # Calculate the total expense
    def total_expense(self):
        total = self.expenses[' AMOUNT'].sum()
        return total

    # Calculate the balance = income - expense
    def balance(self):
        balance = self.total_income() - self.total_expense()
        return balance

    # Create finantial report using the function above
    def financial_report(self):
        print('\n'+'financial report'+'\n')
        print(f'Total Income: ${self.total_income()}')
        print(f'Total Expense: ${self.total_expense()}')
        print(f'Balance: ${self.balance()}')
        if self.balance() > 0:
            print('Dont forget to save some of your left-off money! great job!')
        else:
            print('Be responsible with your finance, and find a low rate loan!')

In [128]:
inputs = {
    'data_route' : '../data/',
    'expenses_filename' : 'expenses.csv',
    'incomes_filename' : 'incomes.csv'
}

In [129]:
cartera = FWallet(inputs)

In [130]:
cartera.financial_report()

financial report

Total Income: $5250
Total Expense: $100
Balance: $5150
Dont forget to save some of your left-off money! great job!